[submodule "Vendor/Stanley"]
	path = Vendor/Stanley
	url = https://github.com/Kosoku/Stanley.git
[submodule "Vendor/Ditko"]
	path = Vendor/Ditko
	url = https://github.com/Kosoku/Ditko.git
[submodule "Vendor/Loki"]
	path = Vendor/Loki
	url = https://github.com/Kosoku/Loki.git
[submodule "Vendor/ECPhoneNumberFormatter"]
	path = Vendor/ECPhoneNumberFormatter
	url = https://github.com/enriquez/ECPhoneNumberFormatter.git
[submodule "Vendor/Agamotto"]
	path = Vendor/Agamotto
	url = https://github.com/Kosoku/Agamotto.git
[submodule "Vendor/KSOTooltip"]
	path = Vendor/KSOTooltip
	url = https://github.com/Kosoku/KSOTooltip.git
